src/main/resources/wsdl/HelloService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.bjoernhoefling.de/" xmlns:tns="http://ws.bjoernhoefling.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="greet" type="tns:greet"/>

  <xs:element name="greetResponse" type="tns:greetResponse"/>

  <xs:complexType name="greet">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="greetResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

